/* ========================== BASIC SETUP  ========================== */

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

html,
body {
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
}

h1,
h2,
h3 {
    color: #fff;
    margin-bottom: 20px;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
}

h1 {
    color: #fff;
    font-size: 200%;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 20px;
    word-spacing: 5px;
}

h2 {
    font-size: 180%;
    margin-bottom: 20px;
    word-spacing: 2px;
    text-align: center;
}

h3 {
    font-size: 110%;
    margin-bottom: 20px;
    text-align: center;
}

h2::after {
    background-color: black;
    content: "";
    display: block;
    margin: 20px auto 0 auto;
    height: 2px;
    width: 100px;
}

p {
    color: #fff;
    margin-bottom: 20px;
    text-align: center;
}

section {
    padding: 40px 0;
}


/* ========================== RESUABLE  ========================== */

.row {
    margin: 0 auto;
    max-width: 1140px;
}

/* ========================== HEADER  ========================== */

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.699), rgba(0, 0, 0, 0.699)), url("/Img/background.jpeg");
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    height: 50vh;
}

header p {
    color: white;
}

.main-nav {
    float: right;
    margin-top: 40px;
    margin-right: 20px;
    list-style: none;
    position: fixed; /* Set the navbar to fixed position */
    right: 0; /* Position the navbar at the top of the page */
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    border-bottom: 2px solid transparent;
    color: #fff;
    font-size: 80%;
    padding: 8px 0;
    text-decoration: none;
    text-transform: uppercase;
    transition: border-bottom 0.5s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #fff;
}

.logo {
    height: 100px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    width: auto;
}

.intro {
    position: absolute;
    top: 25%;
    left: 30%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    width: 1140px;
}

/* ========================== SKILLS ========================== */

.skills {
    background-color: rgb(233, 230, 230);
}

.skills h1, h2, h3, p {
    color: black;
}

.skills h3 {
    font-weight: 400;
}

.skills p {
    font-weight: 200;
}

.skills h2::after {
    background-color: black;
    content: "";
    display: block;
    margin: 20px auto 0 auto;
    height: 2px;
    width: 100px;
}

.col {
    padding: 20px;
}

.flex-grid-thirds {
    display: flex;
    justify-content: space-evenly;
  }

.flex-grid-thirds .col {
    color: white;
    text-align: center;
    background-color: white;
    box-shadow: 0 2px 2px rgba(12, 11, 11, 0.178);
    border-radius: 5px;
    margin: 10px;
    width: 32%;
}

.flex-grid-thirds .h3 {
    text-align: center;
}

.skills-logo {
    height: auto;
    width: 100%;
}
.icon-big {
    color: #050505;
    text-align: center;
    font-size: 200%;
    display: inline-block;
    margin-bottom: 20px;
}

/* ========================== PROJECTS ========================== */

.projects {
    background-color: wheat;
}

/* ========================== CONTACT ========================== */

.form {
    margin: 0 auto;
    width: 60%;
}

.contact {
    background-color: rgb(99, 74, 74);
    text-align: center;
}

input[type=text], 
input[type=email],
textarea {
    border: none;
    border-radius: 3px;
    padding: 7px;
    width: 80%;
}

textarea {
    height: 100px;
}

input[type=submit] {
    border-radius: 200px;
    background-color: #030303;
    border: 1px solid #f8f8f8;
    color: #fff;
    margin-right: 15px;
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    transition: background-color 0.5s, border 0.5s, color 0.5s;
}

input[type=submit]:hover,
input[type=submit]:active {
    background-color: white;
    color: black;
}

/* ========================== FOOTER ========================== */
footer {
    background-color: black;
    padding: 20px;
    margin: 0;
}

footer p {
    margin: 10px;
    text-align: center;
}

footer p {
    color: white;
    text-align: center;
}

.social-links {
    list-style: none;
    text-align: center;
}

.social-links li {
    display: inline-block;
    float: right;
    margin-left: 40px;
    margin-right: 20px;
}

.social-links li a:link, 
.social-links li a:visited {
    color: white;
    border: 0;
    font-size: 150%;
    text-decoration: none;
}

.social-links li a:hover,
.social-links li a:active {
    border-bottom: 2px solid #fff;
}